
.Note{
    margin-left: 2%;
    margin-right: 2%;
}

.Headline>b{
    color: black;
    font-family: "Arial";
    font-size: 76px;
    margin-left: 2%;
    margin-right: 2%;
}

.Main_Text>p{
    color: dimgrey;
    font-family: "Times New Roman";
    text-align: justify;
    font-size: 40px;
    margin-left: 2%;
    margin-right: 2%;
}
