html, body {
    height: 100%;
    margin: 0;

    background-image: url("https://images.wallpapersden.com/image/download/neon-gradient-minimalist_70011_3840x2160.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}

.navbar{
    border-width: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: cornflowerblue;
}

.panel{
    margin-left: 2%;
    margin-right: 2%;
}

.sideBorders{
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    border-width: 2px;
}

.active>a{
    background-color: deepskyblue !important;
}

.resolution{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 2560px;
    min-width: 800px;
    min-height: 100%;
}

.MaxContent{
    background-image: url("https://www.uniza.sk/images/pozadia/album/dji_0046-uniza-2019.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}

.WrapperFooter{
    position:absolute;
    width:100%;
    bottom:0;
}

.WrapperFooter>footer{
    min-height: 40px;
}


