    .Messenger-messegeWindow{
        height: 94%;
    }

    .msg-sideMenu{
        height: 92%;
        width: 100%;
    }

    .icon {
        display: none;
    }

    .Messenger-Menu{
        background-color: white;
        height: 100%;
        border-right: black 1px solid;
    }

    .messenger-window{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

@media screen and (max-width: 980px) {
    .Messenger-messegeWindow{
        height: 88%!important;
    }
    .msg-sideMenu div{display: none;}
    .icon {
        float: right;
        display: block;
    }
    .Messenger-Menu{
        height: 10% !important;
        border-bottom: black 1px solid;
    }

    .resp {
        height: 92%;
        width: 100%;
        display: block;
        transition: top 0.3s;
    }

    .resp div {
        display: block;
    }
    .respMenu{
        height: 100% !important;
        border-bottom: black 1px solid;
    }
}


.iconContact{
    background-color: #1abc9c;
    height: auto;
    width: auto;
    margin: 10px;
    border-radius: 100%;
    overflow: hidden;
}

.userIcon{
    color: white;
    font-size: 30px;
    padding: 10px;
}

.topSpace{
    height: 8%;
    width: 100%;
}

.bottomSpace{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
}

.newMessege{
    cursor: pointer;
    margin: auto;
    width: 70px;
    height: auto;
    background-color: #3cc5aa;
    border-radius: 100%;
}

.newMessege span{
    color: white;
    text-align: center;
    margin: 6px;
    font-size: 60px;
}

.NameList{
    border-top: black solid 1px;
    max-height: 82%;
    overflow: scroll;
}

.NameList-item{
    cursor: pointer;
    border-bottom: black 1px solid;
    width: 100%;
    min-height: 60px;
    height: auto;
    padding-right: 0;
}

.NameList-item_Opened{
    background: #1167b1;
    background: -webkit-linear-gradient(to right, #187bcd, #1167b1);
    background: linear-gradient(to right, #187bcd, #1167b1);
    width: 100%;
    min-height: 60px;
    height: auto;
    padding-right: 0;
}

.NameList-item_Opened .Name,
.NameList-item_Opened .NameUnread{
    vertical-align: baseline;
    text-align: center;
    color: white !important;
}

.Name{
    vertical-align: baseline;
    text-align: center;
    color: #4a4843;
}
.center-icon{
    margin-left: 50%;
    margin-right: 50%;
    transform: translate( -50%);
}

.NameUnread{
    vertical-align: baseline;
    text-align: center;
    color: #e53935;
}

.Messenger-img{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
    background-size: cover;
    background-image: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png')
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#msg_Window{
    visibility: hidden;
}

.msg-Window{
    overflow: scroll;
    position: absolute;
    left: 0;
    height: 90%;
    width: 100%;
}

.msg-textForm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6%;
    border-top: black 1px solid;
}

.messege-txt{
    overflow: scroll;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: black 1px solid;
    margin-left: 10%;
}

.send-BT{
    margin-top: 5px;
    margin-left: 75%;
}

.formDisclaimer{
    margin-left: 70%;
    opacity: 0.5;
    font-size: 10px;
}

.sender{
    opacity: 0.6;
    color: #4a4843;
}

.date{
    margin-top:2px;
    opacity: 0.5;
    color: #4a4843;
}

.msgText{
    margin-top: 2px;
    border-radius: 5px;
    width: 40%;
    min-height: 50px;
}

.sended-msg .msgText{
    background: #1167b1;
    background: -webkit-linear-gradient(to left, #187bcd, #1167b1);
    background: linear-gradient(to left, #187bcd, #1167b1);
    -webkit-box-shadow: 1px 1px 2px 2px  #ccc;
    -moz-box-shadow:    1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 2px  #ccc;
    margin-left: 55%;
    margin-right: 5%;
}

.sended-msg .sender,
.sended-msg .date{
    text-align: right;
    margin-left: 55%;
    margin-right: 6%;
}

.received-msg .msgText{
    background: #424242;
    background: -webkit-linear-gradient(to right, #616161, #424242);
    background: linear-gradient(to right, #616161, #424242);
    -webkit-box-shadow: 1px 1px 2px 2px  #ccc;
    -moz-box-shadow:    1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 2px  #ccc;
    margin-right: 55%;
    margin-left: 5%;
}

.received-msg .sender,
.received-msg .date{
    text-align: left;
    margin-right: 55%;
    margin-left: 5%;
}

.txt-msg{
    color: white;
    padding: 10px;
}

.info-blog div h5{
    padding-bottom: 10px;
    text-align: center;
}

.info-blog h2{
    text-align: center;
}

.NameList-item .Name-Blog{
    margin-top: 5px;
    vertical-align: baseline;
    text-align: center;
    color: #4a4843;
}
.NameList-item_Opened .Name-Blog{
    margin-top: 5px;
    vertical-align: baseline;
    text-align: center;
    color: white;
}

.NameList-item .Date-Blog{
    color: #4a4843;
}

.NameList-item_Opened .Date-Blog{
    color: white;
}

.blog-item{
    min-height: 100px !important;
    height: auto !important;
}

.blog-bottom{
    border-top: black solid 1px;
    width: 100%;
    height: 1% !important;
}

@media screen and (max-width: 980px) {
        .blog-bottom{
            border-top: black solid 1px;
            width: 100%;
            height: 10% !important;
        }
}

.blog-top{
    border: none;
    overflow: scroll;
    height: 90% !important;
    top: 0;
    bottom: unset;
}

.blog-article .predtext{
    width: 100%;
    height: auto;

}

.blog-article .text{
    width: 100%;
    height: auto;
}

.blog-article .predtext,
.blog-article .text{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.display_No{
    display: none;
}

.add_Blog{
    width: 100%;
    height: 100%;
}

.add_Blog form textarea{
    border:1px solid #999999;
    width:100%;
    resize: none;
}
