.quiz_compartmant{
    width: 100%;
    min-height: 100px;
    height: auto;
    border: black 1px solid;
    border-top: none;
}

.quiz_compartmant:first-child{
    border-top: black 1px solid;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.quiz_compartmant:first-child form {
    margin-top: 10px;
}

.quiz_compartmant:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quiz_compartmant:last-child form {
    margin-bottom: 10px;
}

.Quiz_menu{
    position: fixed;
    z-index: 3;
    top: 10%;
    right: 50px;
    width: 50px;
    height: auto;
}

.Quiz_menu .Quiz_menu_item{
    border: #616161 solid 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #9a9aa9;
}

#question_dropdown .Quiz_menu_item{
    border: #9a9aa9 solid 1px !important;
    background-color: #616161 !important;
}

.Quiz_menu .Quiz_menu_item span{
    color: #f2f2f2;
    font-size: 20px;
    left: 50%;
    top: 45%;
    margin-left: -10px;
    margin-top: -10px;
}

.close-btn-form {
    cursor: pointer;
    float: right;
    margin-right: 50px;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
.close-btn-form:hover {
    color: darkgray;
}