.position{
    width: 100%;
    height: 100%;
}

.tableStyle table{
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.tableStyle th, .tableStyle td{
    text-align: center;
}

.tableStyle td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

.tableStyle th {
    border-top: none;
    background-color: dodgerblue;
    color: #f2f2f2;
}

.tableStyle .detailHide{
    display: none;
}


.tableStyle td:first-child,.tableStyle th:first-child {
    border-left: none;
}

.tableStyle tr:hover:nth-child(n+2){
    background-color: red;
    color: #f2f2f2;
    opacity: 0.7;
}

.tableStyle .detail:hover{
    background-color: #f2f2f2 !important;
    color: black !important;
    opacity: 1 !important;
}

#kurzy .Border{
    border: white solid 10px;
}

#kurzy .textFrame{
    background-color:white;
    max-width:80%
}

#kurzy .imgWidth{
    max-width: 50%;
}

#kurzy button{
    width: 20%;
    background-color:  #0f2557;
    color: #f2f2f2;
}

#kurzy button:hover{
    background-color: #20639B;
}


.customTableTitle div>div>div>h2{
    margin-top: 0;
    background-color: royalblue;
    height: 80px;
    padding-top: 20px;
}

.contentWindow{
    width: 100%;max-height: 500px ;overflow: scroll;
}

.contentWindow div{
    width: 100%;
    height: auto;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}